body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.row {
   display: flex;
}

.cell {
   width: 100px;
   height: 100px;
   border: 1px solid #000;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
}

.winning-message button {
   width: 300px;
   border-radius: 100px;
   font-size: 2rem;
   background-color: grey;
   border: 1px solid black;
   padding: .25em .5em;
}

.winning-message button:hover {
   background-color: grey;
   border-color: white;
}